body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.about-blurb {
    margin: 0 auto;
    max-width: 550px;
}

.logo-type {
    font-family: 'Red Hat Display', sans-serif;
}

.mod-card {
    width: 300px;
}

.whitespace-break {
    white-space: break-spaces;
}