{% extends "layout.html" %}


{% block title %}

    About

{% endblock %}


{% block main %}

<section class="vh-100">
    <h2>About SimplifiedModding</h2>
    <div class="my-5 about-blurb">
        <p>
            Although I've been a long-time modder for the Sims franchise, it was only around last year that I
            started sharing mods I've made for this game. I was inspired by so many creators that came before me,
            including the wonderful MizoreYukii and Zer0, both of whom have done fantastic work both in terms of modding
            and in terms of knowledge-sharing within the community.
        </p>
        <p>
            Especially as modding becomes a potentially lucrative creative endeavor, I think it's really important
            to make sure that the community of modders grows equitably. Providing new players with the tools they
            need to learn how to change their game is a vital part of that, especially since so many of the skills
            underpinning modding are typically out of reach for those without some technical or design background.
            But the reality is that it's really quite easy to get started, and SimplifiedModding is a snippet of my
            dream to make the community better, and give more folks, especially women and non-gender conforming folk
            (a huge portion of the Sims 4 player base) a chance to learn how to make things they find useful.
        </p>
        <p>
            For this reason, mods found on SimplifiedModding will always be free. And as a downloader, feel free to open
            up my files, pick them apart and learn from them. I ask that you don't re-distribute them without changing them
            significantly, however, unless they are, for whatever reason, no longer available via this site or my ModThesims
            page.
        </p>
    </div>
    <a href="https://modthesims.info/m/10261048" class="btn btn-success">Find Me on ModTheSims</a>
</section>


{% endblock %}
