{% extends "layout.html" %}


{% block title %}

    Add a Mod

{% endblock %}


{% block main %}

<h2>Create a New Mod</h2>
<form action="/mods/add" method="POST" class="min-vh-100">
    <div class="row m-5">
        <div class="col-md-8">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-100" id="title" name="title" placeholder="Mod Title (required)" type="text" required>
            </div>
            <div class="mb-3">
                <textarea class="form-control mx-auto w-100" id="description" name="description" placeholder="Description" rows="12"></textarea>
            </div>
        </div>
        <div class="col-md-4">
            <!-- URL regex from this stackoverflow post: https://stackoverflow.com/questions/58070841/pattern-in-html5-input-type-url-validation-->
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="download_url" name="download_url" placeholder="Download URL (required)" type="url" required
                    pattern="[Hh][Tt][Tt][Pp][Ss]?:\/\/(?:(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)(?:\.(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)*(?:\.(?:[a-zA-Z\u00a1-\uffff]{2,}))(?::\d{2,5})?(?:\/[^\s]*)?">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="feature_img_url" name="feature_img_url" placeholder="Feature Image URL" type="url"
                    pattern="[Hh][Tt][Tt][Pp][Ss]?:\/\/(?:(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)(?:\.(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)*(?:\.(?:[a-zA-Z\u00a1-\uffff]{2,}))(?::\d{2,5})?(?:\/[^\s]*)?">
            </div>
            <div class="mb-3">
                <div>
                    Save as...
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="is_draft" id="is_draft" value="1" checked required>
                    <label class="form-check-label" for="is_draft">Draft</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="is_draft" id="is_not_draft" value="0" required>
                    <label class="form-check-label" for="is_not_draft">Published</label>
                </div>
            </div>
            <div class="mb-3">
                <div>
                    Visibility...
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="is_private" id="is_private" value="1" required>
                    <label class="form-check-label" for="is_private">Private</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="is_private" id="is_not_private" value="0" checked required>
                    <label class="form-check-label" for="is_not_private">Public</label>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Save Mod</button>
        </div>
    </div>
</form>

{% endblock %}
