{% extends "layout.html" %}


{% block title %}

    Tutorials

{% endblock %}


{% block main %}

<section class="p-5 min-vh-100">
    <h3>All Tutorials</h3>
    <div class="d-flex justify-content-center flex-wrap">
    {% for tutorial in tutorials %}
        <div class="card mod-card m-3">
            {% if tutorial.feature_img_url %}
                <img src="{{ tutorial.feature_img_url }}" class="card-img-top" alt="Placeholder Image" width="300" height="200">
            {% else %}
                <img src="https://via.placeholder.com/300x200?text=Simplified+Modding.png" class="card-img-top" alt="Placeholder Image"  width="300" height="200">
            {% endif %}
            <div class="card-body">
                <h4 class="card-title text-capitalize">{{ tutorial.title }}</h4>
                <h5>By: {{ tutorial.username }}</h5>
                <a class="btn btn-outline-primary" href="/tutorial/{{ tutorial.id }}">View Tutorial</a>
            </div>
            <div class="card-footer text-muted">
                Created: {{ tutorial.updated | stime }}
            </div>            
        </div>
    {% endfor %}
    {% if tutorials|length == 0 %}
        No tutorials available! Check back soon!
    {% endif %}
    </div>
</section>

{% endblock %}
