{% extends "layout.html" %}


{% block title %}

    User

{% endblock %}


{% block main %}

<section class="min-vh-100">
    <h2>My Profile</h2>
    {% for user in users %}
        <h3 class="mb-3">
            {{ user.username }}
        </h3>
        <div class="mb-3">
            {% if user.is_admin == 1 %}
                <span class="text-success">ADMIN account</span>
            {% else %}
                <span class="text-muted">NON-ADMIN account</span>
            {% endif %}
            <br/>
            <a href="/change-password">Change Password</a>
        </div>
        {% if user.is_admin == 1 %}
            <a href="/dashboard" class="btn btn-secondary">Back to Dashboard</a>
        {% endif %}
    {% endfor %}
</section>

{% endblock %}
